{
	"useTabs": true,
	"printWidth": 120,
	"tabWidth": 4,
	"trailingComma": "es5",
	"jsxBracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"htmlWhitespaceSensitivity": "ignore",
	"phpVersion": "7.1",
	"braceStyle": "1tbs",
	"endOfLine": "auto"
}
